/* @import "https://www.nerdfonts.com/assets/css/webfont.css" */
/* curl -L https://www.nerdfonts.com/assets/css/webfont.css | css-beautify > ./webfont.css */
/* magick assets/photo-1564186763535-ebb21ef5277f.jpg -colorspace Gray -contrast-stretch 2%x2% -ordered-dither h8x8a halftone.webp */
/* curl -L https://raw.githubusercontent.com/mrdoob/three.js/refs/heads/dev/build/three.module.js -o three/three.module.js */

@import url(styles/font.css);

:root {
    --highlight:  #FF0000;
    --background: #000000;
    --foreground: #FFFFFF;
}

.symbol {
    font-family: "SymbolsNerdFont";
}

.symbol-mono {
    font-family: "SymbolsNerdFontMono";
}

.header {
    position: relative;
    height: 500px;
    overflow: hidden;
    filter: none;
}

.header::before {
    content: "";
    position: absolute;
    top:    -50%;
    left:   -50%;
    bottom: -50%;
    right:  -50%;
    background: radial-gradient(circle at center, #333, #fff);
    background-size: 0.25em 0.25em;
    transform: rotate(20deg);
}

.header img {
    position: absolute;
    top:    0;
    left:   0;
    width:  100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* mix-blend-mode: hard-light;
    filter: grayscale(1) brightness(125%) contrast(80%) blur(2px); */
    filter: contrast(2000%);
}

.header h1 {
    color: var(--highlight);
    position: absolute;
    font-size: 6rem;
    font-family: "HalftoneJo";
    font-weight: 600;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-3.5deg);
    z-index: 3;
    margin: 0.35em;
}

::selection {
    background-color: var(--highlight);
    color:            var(--foreground);
}

b {
    font-weight:      calc(inherit + 200);
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

i {
    font-style:       normal;
}

mark {
    background-color: var(--highlight);
    color:            var(--foreground);
}

mark::selection {
    background-color: var(--foreground);
    color:            var(--highlight);
}

p {
    font-family: 'Fira Sans', sans-serif;
}